body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #151b29;
}

button {
    /* background-color: ; */
    background-color: #151b29;
    color: #ffa220;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;
}

button:hover {
    border-color: #f1ff5c;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    transform: translateY(-0.25em);
}

/* box shadow: offset-x| offset-y|blur radius| spread radius| color */