.message {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

.you {
    background-color: #ec99cd;
}

.keshav {
    background-color: rgb(128, 128, 128);
}

button {
    background-color: plum;
}